@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: theme(colors.white);
  --background: theme(colors.black);
}

body {
  color: var(--foreground);
  background: var(--background);
}

p {
  margin-bottom: theme(space.6);
}

@layer components {
  .menu-item {
    @apply h-12 flex transition-all px-4 hover:bg-neutral-700 cursor-pointer border-b tracking-widest items-center;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  z-index: 10;
  position: relative;
}

/* Track */
::-webkit-scrollbar-track {
  background: theme(colors.neutral.900);
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: theme(colors.neutral.600);
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: theme(colors.neutral.400);
}
