@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: theme(colors.white);
  --background: theme(colors.black);
}

body {
  color: var(--foreground);
  background: var(--background);
}

p {
  margin-bottom: theme(space.6);
}

@layer components {
  .menu-item {
    @apply h-20 flex items-center border-b transition-all uppercase px-4 hover:bg-white hover:text-black cursor-pointer font-semibold tracking-widest text-2xl
  }
}
